<% if obj.errors.any? %>
    <div class="row-fluid">
      <div class="span8">
        <div id="error_explanation">
          <h3><i class="icon-exclamation-sign"></i> При отправке формы обнаружены следующие ошибки:</h3>

          <ul>
            <% obj.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
<% end %>